# Auto detect text files and perform LF normalization
* text=auto

# Classify files as Pascal
*.simba linguist-language=Pascal
*.pas linguist-language=Pascal
*.lpr linguist-language=Pascal
*.lpi linguist-language=Pascal
*.lps linguist-language=Pascal

# Documentation excluded from repo statistics
*.md linguist-documentation
*.html linguist-documentation
*.rst linguist-documentation

# Binary files excluded from diff
*.png -diff
*.zip -diff
*.dll -diff
*.exe -diff
*.so -diff
*.dylib -diff