*.psd
*.psb
osrs/walker/maps/custom/*
osrs/walker/maps/custom/mapdump/*

osr/walker/maps/custom/img-0.png
osr/walker/maps/custom/img-1.png
osr/walker/maps/custom/img-2.png
osr/walker/maps/custom/img-3.png
